<!DOCTYPE html>
<html data-ng-app="">
<head>
  <title> Using AngularJs Directives and Data Binding </title>
</head>
<body data-ng-init="customers=[{name: 'John Smith', city: 'Phoenix'}, {name:'John doe', city: 'New york'}, {name:'jane Smith', city: 'San Jose'}]">
  Name:
  <br />
  <input type="text" data-ng-model="name"/> {{ name }}
  <br />
  <ul>
    <li data-ng-repeat="cust in customers | filter:name">{{ cust.name}} - {{cust.city}} </li>
    <table class="table table-hover grid">
        <thead class="tableheader">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Payment</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items" ng-click="selected.item = item">
                <td>{{item.Name}}</td>
                <td>{{item.Type}}</td>
                <td>{{item.Payment}}</td>

            </tr>
        </tbody>
    </table>
    Selected:
    <b>{{ selected.item.Name }} </b>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

  <script src="angular.min.js"></script>
</body>
</html>
